OPENAI_API_KEY="aio2025"

VLLM_HOST="127.0.0.1"
VLLM_PORT="8000"
TRTLLM_HOST="127.0.0.1"
TRTLLM_PORT="8002"
BACKEND_HOST="127.0.0.1"
BACKEND_PORT="8001"
ROUTING_CONFIG_PATH="/app/configs/routing_config.yaml"
REQUEST_TIMEOUT_SECONDS="120"

VLLM_BASE_MODEL="meta-llama/Llama-3.2-1B-Instruct"
VLLM_SERVED_MODEL_NAME="routing-classifier"
VLLM_MATH_LORA_REPO="VLAI-AIVN/Llama-3.2-1B-Instruct-mathqa-lora"
VLLM_MEDICAL_LORA_REPO="VLAI-AIVN/Llama-3.2-1B-Instruct-vi-medqa-lora"
VLLM_DEVICE_ID="0"

TRTLLM_MODEL="VLAI-AIVN/Llama-3.2-1B-Instruct-mathqa-lora"
TRTLLM_SERVED_MODEL_NAME="mathqa-lora"
TRTLLM_DEVICE_ID="1"

LANGSMITH_TRACING="true"
LANGSMITH_API_KEY="<YOUR_LANGSMITH_KEY>"
LANGSMITH_PROJECT="AIO_LLM_OPS"
